{% extends "CarbonTracker/base_generic.html" %}

{% block content %}
<!-- Static Files for CSS and JS -->
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<!-- Add any other static files like JS here -->

<div class="content">
    <h1>Carbon Footprint Tracker</h1>

    <form method="post">
        {% csrf_token %}

        {{ activity_form.as_p }}

        <div class="form-fields">
            {% if activity_type == 'electricity' %}
                {{ form.as_p }}
            {% elif activity_type == 'flight' %}
                <p>
                    {{ form.departure_airport.label_tag }}
                    {{ form.departure_airport }}
                    <a href="https://www.iata.org/en/publications/directories/code-search/" target="_blank">Search Airport Code</a>
                </p>
                <p>
                    {{ form.destination_airport.label_tag }}
                    {{ form.destination_airport }}
                    <a href="https://www.iata.org/en/publications/directories/code-search/" target="_blank">Search Airport Code</a>
                </p>
                <p>
                    {{ form.passengers.label_tag }}
                    {{ form.passengers }}
                </p>
            {% elif activity_type == 'shipping' %}
                {{ form.as_p }}
            {% endif %}
        </div>

        <div class="form-container">
            <button type="submit">Calculate</button>
        </div>

        <div id="emission-result">
            {% if form.errors %}
                <div style="color: red;">
                    {{ form.errors }}
                </div>
            {% endif %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            {% if result %}
                <p>{{ result }}</p>
                <a href="{% url 'emission_reports' %}">View Emission Report</a>
            {% endif %}
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const activitySelect = document.getElementById('id_activity_type');
            if (activitySelect) {
                activitySelect.addEventListener('change', () => {
                    const selectedActivity = activitySelect.value;
                    const url = new URL(window.location.href);
                    url.searchParams.set('activity_type', selectedActivity);
                    window.location.href = url.href;
                });
            }
        });
    </script>
</div>
{% endblock content %}
